.create-article-container {
  display: flex;
  flex-direction: column;
}

.create-article-container > * {
  width: 100%;
}

div.add-article-btn {
	text-align: right;
	button {
		margin-right: 10px;
	}
}